:root{
  --jet: #2a2b2eff;
  --davys-grey: #5a5a66ff;
  --granny-smith-apple: #aceb98ff;
  --screamin-green: #87ff65ff;

  --main: var(--jet);
  --text: var(--granny-smith-apple);
  --overlook: var(--davys-grey);
  --second: var(--davys-grey);
  --accent:  var(--screamin-green);
}

html {
  height: 100%;
}

body{
  min-height: 100%;

  background-color: var(--main);
}

.cart-bar{
  width: fit-content;
  height: fit-content;
  padding: 1vh;

  display: flex;
  align-items: center;

  background-color: var(--overlook);
  border-radius: 15%;

  color: var(--text);
  text-decoration: none;
}
.cart-bar p{
  width: 3vh ;
  height:3vh ;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background-color: rgb(255, 65, 65);

  font-weight: bold;
}

.products div{
  
  font-size: 3vh;
  color:var(--text);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.account{
  width: 16vw;
  height: 20vh;
  padding: 1vw;
  margin: 1vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--second);
  border-radius: 2vh;
}
.account *{
  margin: 1vh;
  color: var(--text);
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.index{
  width: 16vw;
  height: fit-content;
  padding: 1vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--second);
  border-radius: 2vh;
}
.index *{
  margin: 1vh;
  color: var(--text);
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Centers inside items horizontally*/
.center-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*General style for inputs*/
input{
  width: auto;

  margin: 1rem;
  padding: 0.4em;

  font-size: 1.5rem;
}

/*Input of type text*/
input{
  border: 0rem;
  border-bottom: 0.15rem var(--overlook) solid;
  color: var(--text);
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  background-color: transparent;
}
input:focus{
  border-bottom: 0.15rem var(--accent) solid;

  outline: none;
}

/*Select input*/
select{
  margin: 1rem;
  padding: 0.4em;
  border: 0rem;
  border-bottom: 0.15rem var(--overlook) solid;
  
  font-size: 1.5rem;
  color: var(--text);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  background-color: transparent;
}
option{
  background-color: var(--overlook);
}

/*Submit button*/
input[type=submit]{
  color: var(--main);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;

  border: 0rem;
  border-radius: 0.4em;

  background-color: var(--accent);

  transition: 0.2s ease-in-out;
}
input[type=submit]:focus, input[type=submit]:hover{
  box-shadow: 0px 0px 0.5em var(--accent);
  transform: scale(1.15);
  outline: none;

  transition: 0.2s ease-in-out;
}

/*Message element*/
.message{
  margin: 1rem;
  padding: 0.4em;

  background-color: var(--overlook);
  border-radius: 0.3em;
  
  color:white;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*message error element*/
.message--error{
  margin: 1rem;
  padding: 0.4em;

  background-color: red;
  border-radius: 0.3em;
  
  color:white;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Tables*/
table, th, td{
  padding: 0.5rem;

  border: 0.2rem solid var(--overlook);
  border-collapse: collapse;

  color: var(--text);
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}